body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F7F7F7;
  background-image: url('../../imgs/body_bg.jpg');
  background-repeat: no-repeat;
  background-color: rgb(180, 218, 240);
}

.ban {
  background-color: #b8b8b8 !important;
  color: #808080 !important;
  cursor: wait !important;
}

.ban:active {
  transform: scale(1) !important;
}

.show-toast {
  position: fixed;
  z-index: 1200;
  width: 800px;
  /* height: 500px; */
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 10px 50px rgb(104, 104, 104);
  overflow: hidden;
}

.blur {
  position: relative;
  filter: blur(8px);
  z-index: 1;
}

.cover {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  opacity: 0.1;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1100;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.show-toast .title {
  color: #eb7350;
  font-size: 20px;
  text-align: center;
  font-weight: normal;
  margin: 10px auto 15px;
  position: relative;
  overflow: hidden;
}

.show-toast .cancel-log {
  position: absolute;
  background-color: #eb7350;
  color: #fff;
  width: 20px;
  height: 20px;
  right: 20px;
  top: 10px;
  border-radius: 20px;
  /* font-size: 5px; */
  cursor: pointer;
  transition: transform 0.5s, background-color 0.2s;
  padding: 10px;
}

.show-toast .cancel-log:hover {
  transform: rotate(180deg);
  background-color: #643121;
  color: #fff;
}

.show-toast .cancel-log:active {
  transform: scale(0.7);
}

.show-toast .title .log, .reg {
  cursor: pointer;
  transition: 0.2s;
}

.show-toast .title .active {
  font-size: 40px;
  color: #ff9879;
}

.show-toast .form-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  /* height: 450px; */
  background-color: #ff932d;
}

.show-toast .form-content div {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.show-toast .form-content input {
  font-size: 15px;
  padding: 0 10px;
  margin: 20px auto;
  width: 400px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #fff;
}

.show-toast .form-content span {
  width: 100px;
  color: rgb(255, 255, 255);
  font-size: 13px;
}

.show-toast .form-content img {
  vertical-align: middle;
  margin: 0 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.show-toast .form-content button {
  width: 300px;
  height: 50px;
  font-size: 30px;
  line-height: 50px;
  outline: none;
  border: none;
  border-radius: 5px;
  margin: 20px;
  background-color: rgb(255, 255, 255);
  color: #eb7350;
  letter-spacing: 10px;
  transition: 0.2s;
  cursor: pointer;
  box-shadow: 0 0px 10px #ce6444;
}

.show-toast .form-content .log-btn:active {
  transform: scale(0.8);
}

.show-toast .form-content .if-reg {
  transition: 0.2s;
}

.show-toast .form-content #log:checked+.if-reg {
  transform: scale(0);
  opacity: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none !important;
}

.shadow {
  box-shadow: 0 0 20px #e4e4e4;
}

header {
  box-sizing: border-box;
  background-color: #fff;
  border-top: 2px solid #eb7350;
  height: 50px;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 1000;
}

header .container .log-reg {
  position: relative;
  height: 30px;
  color: rgb(110, 110, 110);
  line-height: 30px;
  box-sizing: border-box;
  /* padding: 0 10px; */
  cursor: pointer;
}

header .exit {
  color: #808080;
  margin: 15px;
  cursor: pointer;
  font-size: 13px;
}

header .exit:hover {
  color: #ce6444;
}

header .show-info {
  display: flex;
  align-items: center;
  cursor: pointer;
}

header .show-info img {
  width: 30px;
  height: 30px;
}

header #tohome {
  cursor: pointer;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  margin: 0 auto;
  position: relative;
}

@media screen and (min-width: 1200px) {
  header .container {
    width: 1280px;
  }
}

@media screen and (max-width: 1119px) {
  header .container {
    width: 768;
  }
}

header .container img {
  display: block;
}

header .container .search-container {
  display: flex;
  position: relative;
}

header .container .search-container input {
  display: block;
  box-sizing: border-box;
  width: 500px;
  height: 30px;
  outline: none;
  border: none;
  background-color: rgb(236, 236, 236);
  padding: 0 40px 0 10px;
  position: relative;
  transition: 0.2s;
}

header .container .search-container .search-bottom-bar {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  background-color: #eb7350;
  bottom: -3px;
  left: 50%;
  transition: 0.2s;
}

header .container .search-container input:focus~.search-bottom-bar {
  left: 0;
  width: 500px;
}

header .container .search-container input:focus {
  background-color: rgb(245, 245, 245);
}

header .container .search-container .search-icon {
  width: 20px;
  height: auto;
}

header .container .search-container .search-icon-div {
  cursor: pointer;
  position: absolute;
  height: 30px;
  right: 10px;
  top: 0;
}

header .container .search-container .search-dragdown {
  position: absolute;
  box-sizing: border-box;
  top: 33px;
  width: 100%;
  padding: 2px;
  background-color: #fff;
}

header .container .search-container .search-dragdown .li {
  font-size: 12px;
  padding: 9px 32px 9px 13px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.2s;
  color: rgb(128, 128, 128);
  position: relative;
}

header .container .search-container .search-dragdown .li:nth-child(2) .round {
  background-color: red;
}

header .container .search-container .search-dragdown .li:nth-child(3) .round {
  background-color: rgb(255, 160, 50);
}

header .container .search-container .search-dragdown .li:hover {
  color: #eb7350;
  background-color: rgb(241, 241, 241);
}

header .container .search-container .search-dragdown .li .round {
  display: inline-block;
  width: 12px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background-color: grey;
  margin-right: 5px;
}

header .container .search-container .search-dragdown .li .hot-tag {
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  width: 17px;
  height: 17px;
  border-radius: 3px;
  background-color: #eb7350;
}

header .container .log-reg label {
  position: relative;
  height: 30px;
  color: rgb(110, 110, 110);
  line-height: 30px;
  box-sizing: border-box;
  padding: 0 10px;
  cursor: pointer;
}

header .container .log-reg .register::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 1px;
  height: 50%;
  background-color: rgb(110, 110, 110);
}

#mian {
  position: relative;
  background-repeat: repeat;
  background-size: cover;
}

#main:hover .edit_bg2 {
  opacity: 1;
  border-color: #646464 #646464 transparent transparent;
}

#main .edit_bg2 {
  cursor: pointer;
  opacity: 0;
  border: 30px solid transparent;
  transition: 0.2s;
  position: absolute;
  right: 0;
  top: 0;
}

#main .edit_bg2 img {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 20px;
}

.user_main {
  width: 940px;
  margin: 70px auto;
}

.user_main .wrap_user {
  z-index: 10;
  position: relative;
}

.user_main .wrap_user:hover .edit_bg {
  opacity: 1;
  border-color: #646464 #646464 transparent transparent;
}

.user_main .wrap_user .edit_bg {
  cursor: pointer;
  opacity: 0;
  border: 30px solid transparent;
  transition: 0.2s;
  position: absolute;
  right: 0;
  top: 0;
}

.user_main .wrap_user .edit_bg img {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 20px;
}

.user_main .wrap_user .banner {
  background-color: rgba(218, 218, 218, 0.5);
  background-image: url(../../imgs/user_bg_b.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin: 0;
  box-sizing: border-box;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 22px;
}

.user_main .wrap_user .banner .avatar {
  width: 110px;
  height: 110px;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
}

.user_main .wrap_user .banner .avatar img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: rgb(233, 233, 233);
}

.user_main .wrap_user .banner .user_name {
  padding: 10px 0 0;
}

.user_main .wrap_user .banner p {
  font-size: 14px;
  margin: 0;
  padding: 5px 0 0;
}

.user_main .wrap_user .foobar {
  margin: 0;
  font-size: 14px;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  background-color: #fff;
  font-weight: 700;
}

.user_main .wrap_user .foobar span {
  display: inline-block;
  box-sizing: border-box;
  height: 100%;
  border-bottom: 3px solid #eb7350;
  padding: 0.5em;
}

.user_main .pic_main {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}

.user_main .pic_main .lists {
  width: 300px;
  position: relative;
  background-color: #fff;
}

.user_main .pic_main .lists ul {
  padding: 0;
  margin: 0;
}

.user_main .pic_main .lists ul li {
  cursor: pointer;
  list-style: none;
  height: 50px;
  padding: 0 10px;
  line-height: 50px;
  color: #535353;
  transition: 0.2s;
}

.user_main .pic_main .lists ul li.on {
  font-weight: 700;
  background-color: #f0f0f0;
  color: #ff932d;
}

.user_main .pic_main .lists ul li:hover {
  background-color: rgb(243, 243, 243);
}

.user_main .pic_main .swap {
  width: 600px;
  position: relative;
  background-color: #fff;
  padding: 10px;
}

.user_main .pic_main .swap .blog {
  width: 100%;
}

.list-wrap {
  font-size: 14px;
  box-sizing: border-box;
  background-color: #ffffff;
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid #dbdbdb;
}

.list-wrap ._main {
  display: flex;
  justify-content: start;
}

.list-wrap ._ava {
  position: relative;
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 50%;
  overflow: hidden;
}

.list-wrap ._ava img {
  background-color: #dbdbdb;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
}

.list-wrap ._contain h4 {
  margin: 0;
  padding: 0 0 10px;
}

.list-wrap ._contain p {
  color: #535353;
  font-size: 14px;
  margin: 0 0 10px;
}

.list-wrap ._contain img{
  width: 300px;
}
.list-wrap ._contain ._t {
  font-size: 12px;
  color: #b8b8b8;
}

.list-wrap ._sub {
  font-size: 12px;
  margin-top: 10px;
  width: 100%;
  height: 28px;
  display: flex;
  justify-content: space-around;
}

.list-wrap ._sub ._item {
  cursor: pointer;
  overflow: hidden;
  padding: 5px;
  display: flex;
  align-items: center;
}

.list-wrap ._sub ._item span {
  line-height: 28px;
}

.list-wrap ._sub ._item.on img {
  transform: translateX(100px);
  filter: drop-shadow(-100px 0 #ffb95d);
}

.list-wrap ._sub ._item.on {
  color: #ffb95d;
}

.list-wrap ._sub ._item img {
  width: 18px;
  height: 18px;
  margin-right: 5px;
  vertical-align: middle;
}

.list-wrap ._sub ._item:hover img {
  transform: translateX(100px);
  filter: drop-shadow(-100px 0 #ffb95d);
}

.user_main .pic_main .swap .focus {
  width: 100%;
  height: fit-content;
}

.user_main .pic_main .swap .title {
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.user_main .pic_main .swap .focus_wrap {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.user_main .pic_main .swap .focus_wrap .item {
  z-index: 2;
  position: relative;
  padding: 16px 0 16px 16px;
  background-color: rgb(248, 248, 248);
  color: #fff;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  width: 295px;
  height: 140px;
  margin: 10px 0 0;
  display: flex;
  overflow: hidden;
}

.user_main .pic_main .swap .focus_wrap .item .after {
  content: '';
  z-index: -1;
  filter: blur(5px) brightness(0.8);
  background-color: rgba(218, 218, 218, 0.5);
  background-image: url(../../imgs/user_bg.jpg);
  background-size: cover;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.user_main .pic_main .swap .focus_wrap .item .avatar {
  overflow: hidden;
  cursor: pointer;
  position: relative;
  height: 100%;
  width: 60px;
  margin-right: 7px;
}

.user_main .pic_main .swap .focus_wrap .item .avatar::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 100%;
  width: 100%;
}

.user_main .pic_main .swap .focus_wrap .item .avatar img {
  z-index: 1;
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
}

.user_main .pic_main .swap .focus_wrap .item .username {
  padding: 10px 0 0;
  margin: 0;
  height: fit-content;
  width: 100%;
  font-size: 14px;
}

.user_main .pic_main .swap .focus_wrap .item P {
  margin: 5px 0 10px;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
}

.user_main .pic_main .swap .focus_wrap .item span {
  font-size: 12px;
  color: #dbdbdb;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.user_main .pic_main .swap .focus_wrap .item ._focus {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 86px;
}