body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url('../../imgs/body_bg.jpg');
  background-repeat: no-repeat;
  background-color: rgb(180, 218, 240);
}

.float-bar {
  position: fixed;
  right: 100px;
  bottom: 40px;
}

.float-bar a {
  display: block;
  margin: 10px 0;
  width: 40px;
  height: 40px;
  background-color: rgb(167, 167, 167);
  cursor: pointer;
  position: relative;
}

.float-bar a:hover {
  background-color: #808080;
}

.float-bar a img {
  width: 26px;
  height: 26px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.main {
  transition: 0.2s;
}

.hide {
  display: none !important;
}

.blur {
  position: relative;
  filter: blur(8px);
  z-index: 1;
}

.cover {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
  opacity: 0.1;
  position: fixed;
  top: 0vh;
  left: 0vw;
  z-index: 1100;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.shadow {
  box-shadow: 0 10px 50px rgb(165, 165, 165);
}

.show-toast {
  position: fixed;
  z-index: 1200;
  width: 800px;
  /* height: 500px; */
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 10px 50px rgb(104, 104, 104);
  overflow: hidden;
}

.show-toast .title {
  color: #eb7350;
  font-size: 20px;
  text-align: center;
  font-weight: normal;
  margin: 10px auto 15px;
  position: relative;
  overflow: hidden;
}

.show-toast .title::before {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 900;
  content: 0;
  width: 100%;
  height: 100%;
  filter: blur(20px);
}

.show-toast .cancel-log {
  position: absolute;
  background-color: #eb7350;
  color: #fff;
  width: 20px;
  height: 20px;
  right: 20px;
  top: 10px;
  border-radius: 20px;
  /* font-size: 5px; */
  cursor: pointer;
  transition: transform 0.5s, background-color 0.2s;
  padding: 10px;
}

.show-toast .cancel-log:hover {
  transform: rotate(180deg);
  background-color: #643121;
  color: #fff;
}

.show-toast .cancel-log:active {
  transform: scale(0.7);
}

.show-toast .title .log, .reg {
  cursor: pointer;
  transition: 0.2s;
}

.show-toast .title .active {
  font-size: 40px;
  color: #ff9879;
}

.show-toast .form-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  /* height: 450px; */
  background-color: #ff932d;
}

.show-toast .form-content div {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.show-toast .form-content input {
  font-size: 15px;
  padding: 0 10px;
  margin: 20px auto;
  width: 400px;
  height: 40px;
  border-radius: 5px;
  outline: none;
  border: none;
  background-color: #fff;
}

.show-toast .form-content span {
  width: 100px;
  color: rgb(255, 255, 255);
  font-size: 13px;
}

.show-toast .form-content img {
  vertical-align: middle;
  margin: 0 10px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.show-toast .form-content button {
  width: 300px;
  height: 50px;
  font-size: 30px;
  line-height: 50px;
  outline: none;
  border: none;
  border-radius: 5px;
  margin: 20px;
  background-color: rgb(255, 255, 255);
  color: #eb7350;
  letter-spacing: 10px;
  transition: 0.2s;
  cursor: pointer;
  box-shadow: 0 0px 10px #ce6444;
}

.show-toast .form-content .log-btn:active {
  transform: scale(0.8);
}

.show-toast .form-content .if-reg {
  transition: 0.2s;
}

.show-toast .form-content #log:checked+.if-reg {
  transform: scale(0);
  opacity: 0;
}

header {
  box-sizing: border-box;
  background-color: #fff;
  border-top: 2px solid #eb7350;
  height: 50px;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 1000;
}

header .container .log-reg {
  position: relative;
  height: 30px;
  color: rgb(110, 110, 110);
  line-height: 30px;
  box-sizing: border-box;
  /* padding: 0 10px; */
  cursor: pointer;
}

header .exit {
  color: #808080;
  margin: 15px;
  cursor: pointer;
  font-size: 13px;
}

header .exit:hover {
  color: #ce6444;
}

header .show-info {
  display: flex;
  align-items: center;
  cursor: pointer;
}

header .show-info img {
  width: 30px;
  height: 30px;
}

header #tohome {
  cursor: pointer;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  margin: 0 auto;
  position: relative;
}

@media screen and (min-width: 1200px) {
  header .container {
    width: 1280px;
  }
}

@media screen and (max-width: 1119px) {
  header .container {
    width: 768;
  }
}

header .container img {
  display: block;
}

header .container .search-container {
  display: flex;
  position: relative;
}

header .container .search-container input {
  display: block;
  box-sizing: border-box;
  width: 500px;
  height: 30px;
  outline: none;
  border: none;
  background-color: rgb(236, 236, 236);
  padding: 0 40px 0 10px;
  position: relative;
  transition: 0.2s;
}

header .container .search-container .search-bottom-bar {
  content: "";
  position: absolute;
  height: 3px;
  width: 0;
  background-color: #eb7350;
  bottom: -3px;
  left: 50%;
  transition: 0.2s;
}

header .container .search-container input:focus~.search-bottom-bar {
  left: 0;
  width: 500px;
}

header .container .search-container input:focus {
  background-color: rgb(245, 245, 245);
}

header .container .search-container .search-icon {
  width: 20px;
  height: auto;
}

header .container .search-container .search-icon-div {
  cursor: pointer;
  position: absolute;
  height: 30px;
  right: 10px;
  top: 0;
}

header .container .search-container .search-dragdown {
  position: absolute;
  box-sizing: border-box;
  top: 33px;
  width: 100%;
  padding: 2px;
  background-color: #fff;
}

header .container .search-container .search-dragdown .li {
  font-size: 12px;
  padding: 9px 32px 9px 13px;
  box-sizing: border-box;
  cursor: pointer;
  transition: 0.2s;
  color: rgb(128, 128, 128);
  position: relative;
}

header .container .search-container .search-dragdown .li:nth-child(2) .round {
  background-color: red;
}

header .container .search-container .search-dragdown .li:nth-child(3) .round {
  background-color: rgb(255, 160, 50);
}

header .container .search-container .search-dragdown .li:hover {
  color: #eb7350;
  background-color: rgb(241, 241, 241);
}

header .container .search-container .search-dragdown .li .round {
  display: inline-block;
  width: 12px;
  text-align: center;
  color: #fff;
  border-radius: 50%;
  background-color: grey;
  margin-right: 5px;
}

header .container .search-container .search-dragdown .li .hot-tag {
  position: absolute;
  right: 13px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  width: 17px;
  height: 17px;
  border-radius: 3px;
  background-color: #eb7350;
}

header .container .log-reg label {
  position: relative;
  height: 30px;
  color: rgb(110, 110, 110);
  line-height: 30px;
  box-sizing: border-box;
  padding: 0 10px;
  cursor: pointer;
}

header .container .log-reg .register::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 1px;
  height: 50%;
  background-color: rgb(110, 110, 110);
}

.main .content2 {
  position: relative;
  width: 1050px;
  background-color: rgba(70, 149, 194, 0.3);
  padding: 50px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.main .content2 .left, .right, .mid {
  margin: 10px 0;
}

.on {
  background-color: #a4c7df;
}

.left {
  width: 150px;
  position: sticky;
  top: 50px;
  height: 100%;
}

.left ul {
  width: 100%;
  box-sizing: border-box;
  padding: 0 0 10px;
  margin: 0;
  border-bottom: 1px solid #a3c5da;
}

.left ul li {
  list-style: none;
  height: 34px;
  line-height: 34px;
}

.left ul li:hover {
  background-color: #a4c7df;
}

.left ul li a {
  padding: 0 0 0 15px;
  height: 100%;
  width: 100%;
  display: block;
  font-size: 14px;
  color: #fff;
  text-decoration: none;
}

.left ul.top li a {
  font-weight: 900;
}

.left ul li a img {
  width: 15px;
}

.con-l {
  width: 630px;
}

.con-l .card {
  box-sizing: border-box;
  width: 100%;
  color: #333333;
  padding: 16px 16px 0;
  background-color: #fff;
  position: relative;
}

.con-l .card .avatar {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  left: 16px;
  top: 16px;
  cursor: pointer;
}

.con-l .card .content {
  font-size: 14px;
  margin-left: 60px;
  overflow: hidden;
  cursor: pointer;
  width: auto !important;
  display: block !important;
  background-color: #fff !important;
  padding: 0 !important;
}

.con-l .card .content .title {
  cursor: pointer;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  height: 24px;
}

.con-l .card .content .title:hover {
  color: #eb7350;
}

.con-l .card .content p {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
}

.con-l .card .content .pic {
  max-width: 500px;
  margin: 10px 0 10px;
}

.con-l .card .content .time {
  color: #808080;
  font-size: 12px;
  margin-bottom: 20px;
}

.con-l .card .foot-bar {
  height: 38px;
  width: 100%;
  display: flex;
  border-top: 1px solid #e6e4e4;
}

.con-l .card .foot-bar .item {
  flex-grow: 1;
  font-size: 12px;
  color: #333333;
}

.con-l .card .foot-bar .item:hover {
  color: #eb7350;
  cursor: pointer;
}

.con-l .card .foot-bar .item .like {
  width: 15px;
}

.con-l .comment {
  position: relative;
  width: 100%;
  background-color: #F2F2F5;
  box-shadow: 0 0 10px #e7e7e7;
  margin: 0 0 10px;
}

.con-l .comment .sub {
  box-sizing: border-box;
  width: 100%;
  padding: 16px;
}

.con-l .comment .sub .avatar {
  position: absolute;
  left: 16px;
  top: 16px;
  width: 30px;
  height: 30px;
}

.con-l .comment .sub .comment-r {
  margin-left: 46px;
  position: relative;
  height: 70px;
}

.con-l .comment .sub .comment-r input[type=textarea] {
  border: none;
  box-sizing: border-box;
  width: 100%;
  height: 32px;
}

.con-l .comment .sub .comment-r input[type=textarea]:focus {
  outline: none;
  border: 1px solid #eb7350;
}

.con-l .comment .sub .comment-r input[type=submit] {
  outline: none;
  background-color: #eb7350;
  border: none;
  color: #fff;
  padding: 5px 1em;
  cursor: pointer;
  position: absolute;
  right: 0;
  bottom: 2px;
}

.con-l .comment .sub .comment-r input[type=submit]:hover {
  background-color: #c06042;
}

.con-l .comment .sub .comment-r input[type=submit]:active {
  transform: scale(0.9);
}

.con-l .comment .sub .comment-r img {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 10px;
  left: 0;
  display: block;
  cursor: pointer;
}

.con-l .comment .lists {
  margin: 0 16px 0 58px;
}

.con-l .comment .lists .list {
  font-size: 12px;
  padding: 10px 0;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid #dfdfdf;
}

.con-l .comment .lists .list .avatar {
  width: 30px;
  height: 30px;
  display: block;
  margin-right: 10px;
}

.con-l .comment .lists .list .reply-name {
  color: #6097D6;
  margin-right: 10px;
}

.con-l .comment .lists .list .content p {
  padding: 0;
  margin: 0 0 10px
}

.con-l .comment .lists .list .foot-bar {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #808080;
}

.con-l .comment .lists .list .foot-bar .thumb {
  width: 15px;
  height: 15px;
}

.right {
  position: sticky;
  top: 50px;
  width: 258px;
  height: 100%;
}

a {
  text-decoration: none;
  color: #424242;
}

.right .user-info {
  width: 100%;
  background-color: #fff;
  margin: 0 0 10px;
  overflow: hidden;
}

.right .user-info .bg {
  position: relative;
  width: 258px;
  height: 100px;
}

.right .user-info .bg label {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #f3f3f3;
  background-size: cover;
  background-position: center;
}

.right .user-info .detail {
  position: relative;
}

.right .user-info .detail #avatar-image {
  display: block;
  position: absolute;
  left: 50%;
  border-radius: 50%;
  transform: translate(-50%, -60%);
  width: 80px;
  height: 80px;
}

.right .user-info .detail label {
  cursor: pointer;
  z-index: 1000;
  width: 80px;
  height: 80px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -60%);
  overflow: hidden;
  background-color: #dfdfdf;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

.right .user-info .detail h4 {
  position: relative;
  top: 30px;
  text-align: center;
  font-size: 18px;
  margin: 0;
}

.right .user-info h4 input[type=text] {
  outline: none;
  border: 1px solid #9c9c9c;
}

.right .user-info h4 input[type=button] {
  background-color: #ff825c;
  color: #fff;
  border: none;
}

.right .user-info h4 input[type=button]:focus {
  background-color: chocolate;
  outline: none;
}

.right .user-info p {
  position: relative;
  color: #808080;
  top: 10px;
  padding: 10px 20px;
  color: #333333;
  font-size: 14px;
}

.right .user-info .edit, .editname {
  display: block;
  position: absolute;
  bottom: 10px;
  right: 5px;
  width: 15px;
  height: 15px;
  background-image: url(../../imgs/edit.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.right .user-info .edit:hover, .editname:hover {
  transform: translateX(100px);
  border-left: 100px solid transparent;
  filter: drop-shadow(-100px 0 #ff8a3c);
}

.right .user-info p input[type=text] {
  outline: none;
  border: 1px solid #9c9c9c;
}

.right .user-info p input[type=button] {
  background-color: #ff825c;
  color: #fff;
  border: none;
}

.right .user-info p input[type=button]:focus {
  background-color: chocolate;
  outline: none;
}

.right .user-info .detail ul {
  cursor: pointer;
  font-size: 14px;
  padding: 0;
  margin: 20px 0 0;
  display: flex;
  justify-content: space-evenly;
}

.right .user-info .detail li {
  font-size: 14px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.right .user-info .detail li h1 {
  color: #000;
  font-size: 18px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.right .user-info .detail li {
  color: #808080;
}

.con-r {
  width: 258px;
  right: 0;
}

.con-r .hot {
  position: sticky;
  top: 56px;
  width: 100%;
  background-color: #fff;
  padding: 0 12px 0 11px;
  box-sizing: border-box;
}

.con-r .hot .title {
  font-weight: 700;
  font-size: 14px;
  height: 38px;
  line-height: 38px;
  margin: 0;
  border-bottom: 1px solid #e6e6e6;
}

.con-r .hot .content {
  box-sizing: border-box;
  width: 100%;
}

.con-r .hot .content ul {
  margin: 0;
  padding: 10px 0 20px;
  overflow: hidden;
}

.con-r .hot .content li {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  list-style: none;
  height: 24px;
  line-height: 24px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-right: 50px;
}

.con-r .hot .content li a {
  text-decoration: none;
  color: #333333;
  font-size: 14px;
  box-sizing: border-box;
  width: 100%;
}

.con-r .hot .content li a .hot-tag {
  display: inline-block;
  font-size: 14px;
  background-color: #ff9406;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  height: 20px;
  line-height: 20px;
  width: 20px;
  margin: 5px 0;
}

.con-r .hot .content li a:hover {
  color: #ce6444;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.con-r .hot .content li span:nth-child(1) {
  color: #ffae33;
  display: inline-block;
  width: 20px;
}

.con-r .hot .content li span:nth-child(3) {
  font-size: 12px;
  color: #9c9c9c;
  position: absolute;
  right: 0;
  background-color: #fff;
}